.main__head
  .main__head__img
    =image_tag  "/logo.png"
.single__main
  .single__main__container
    .single__main__form
      %h2 会員情報入力
      .input__form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .nick__name__filed
            = f.label :ニックネーム 
            %c 必須
          .nick__name__filed__box
            %br/
            %input{name: "nickname", type:  "text", placeholder: " 例）フリマ太郎"}/
          .field__mail
            = f.label :メールアドレス
            %c 必須
          .field__mail__box
            %br/
            %input{name: "email", type:  "text", placeholder: " PC・携帯どちらでも可"}/
          .field__password
            = f.label :パスワード
            %c 必須
          .field__password__box
            %br/
            %input{name: "password", type:  "text", placeholder:" 7文字以上の半角英数字"}/
          - if devise_mapping.rememberable?
            .field__check
              = f.check_box :remember_me
              = f.label :パスワードを表示する
          .identification
            %a  本人確認
            %p  安心・安全にご利用いただくために、
            %p  お客さまの本人情報の登録にご協力ください。
            %a  他のお客さまに公開されることはありません。
          .user__name
            %a お名前（全角）
            %c  必須
            .user__name__box
              %br/
              %input{name: "name", type:  "text", placeholder:" 例）山田"}/
              %input{name: "name", type:  "text", placeholder:" 例）太郎", class:"name"}/
          .user__name__kana
            %a お名前カナ（全角）
            %c 必須
            .user__name__kana__box 
              %br/
              %input{name: "name", type:  "text", placeholder:" 例）ヤマダ"}/
              %input{name: "name", type:  "text", placeholder:" 例）タロウ", class:"kana"}/
          .user__birthday
            %a 生年月日
            %c 必須
            .user__birthday__input
              %input{name: "name", type:  "text", class:"year"}/ 
              年
              %input{name: "name", type:  "text", class:"month"}/
              月
              %input{name: "name", type:  "text", class:"day"}/
              日
          .send__information
            商品送付先情報
            .send__information__name
              %a お名前（全角）
              %c 必須
              .send__information__name__box
                %br
                %input{name: "name", type:  "text", placeholder:" 例）鈴木"}/
                %input{name: "name", type:  "text", placeholder:" 例）三郎", class:"send"}/
            .send__information__kana
              %a お名前カナ（全角）
              %c 必須
              .send__information__kana__box
                %br
                %input{name: "name", type:  "text", placeholder:" 例）スズキ"}/
                %input{name: "name", type:  "text", placeholder:" 例）サブロウ", class:"under"}/
            .send__information__post
              %a 郵便番号
              %c 必須
              .send__information__post__box
                %br
                %input{name: "name", type:  "text", class:"post__top"}/
                %h1 ー
                %input{name: "name", type:  "text",}/
            .send__information__prefecture
              %a 都道府県
              %c 必須
              .send__information__prefecture__name
                %input{name: "name", type:  "text",}/
            .send__information__city
              %a 市区町村
              %c 必須
              .send__information__city__name
                %input{name: "name", type:  "text",}/
            .send__information__adress
              %a 番地
              %c 必須
              .send__information__adress__box
                %input{name: "name", type:  "text",}/
            .send__information__apart
              %a マンション名、ビル名、部屋番号
              %c 任意
              .send__information__apart__name
                %input{name: "name", type:  "text",}/
            .send__information__telephone
              %a 電話番号
              %c 任意
              .send__information__telephone__number
                %input{name: "name", type:  "text",}/

              

          .actions
            = f.submit "登録完了"

        /= render "devise/shared/links"

