.single_main
  .single_main_container
    .single_main_form
      %h2 会員情報入力
      .input_form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .nick_name_filed
            = f.label :ニックネーム 
            %c 必須
          .nick_name_filed_box
            %br/
            %input{name: "nickname", type:  "text", placeholder: " 例）フリマ太郎"}/
          .field_mail
            = f.label :メールアドレス
            %c 必須
          .field_mail_box
            %br/
            %input{name: "email", type:  "text", placeholder: " PC・携帯どちらでも可"}/
          .field_password
            = f.label :パスワード
            %c 必須
          .field_password_box
            %br/
            %input{name: "password", type:  "text", placeholder:" 7文字以上の半角英数字"}/
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me
              = f.label :パスワードを表示する
          .identification
            %a  本人確認
            %p  安心・安全にご利用いただくために、
            %p  お客さまの本人情報の登録にご協力ください。
            %a  他のお客さまに公開されることはありません。
          .user_name
            %a お名前（全角）
            %c  必須
            .user_name_box
              %br/
              %input{name: "name", type:  "text", placeholder:" 例）山田"}/
              %input{name: "name", type:  "text", placeholder:" 例）太郎", class:"name"}/
          .user_name_kana
            %a お名前カナ（全角）
            %c 必須
            .user_name_kana_box 
              %br/
              %input{name: "name", type:  "text", placeholder:" 例）ヤマダ"}/
              %input{name: "name", type:  "text", placeholder:" 例）タロウ", class:"kana"}/
          .user_birthday
            %a 生年月日
            %c 必須
            .user_birthday_input
              %input{name: "name", type:  "text", class:"year"}/ 
              年
              %input{name: "name", type:  "text", class:"month"}/
              月
              %input{name: "name", type:  "text", class:"day"}/
              日
          .actions
            = f.submit "登録完了"

        = render "devise/shared/links"

