.header
  .header__container
    .header__top
      %h1.header__top--img
        = link_to "" do
          = image_tag "/logo.png"

      .header__top__search
        %form
          %input{class: "search__input", placeholder: "キーワードから探す"}
          %button{type: "submit", class: "search__btn"}
            .searchBox__icon
              = image_tag "/icon-search 1.png", class: "searchBox__icon__tag"
    .nav
      %ul.listsleft
        %li.listsleft__item
          カテゴリー
          .category-box
            .parent
              - @parents.each do |parent|
                .parent-content
                  = parent.name
                  .child
                    - parent.children.each do |child|
                      .child-content
                        = child.name
                        .grandchild
                          - child.children.each do |grandchild|
                            .grandchild-content
                              = grandchild.name

        %li.listsleft__item
          ブランド
      %ul.listsright
        - if user_signed_in? 
          %li.listsright__item
            = link_to destroy_user_session_path,method: :delete do
              ログアウト
          %li.listsright__item
            = link_to users_path do
              マイページ
        - else 
          %li.listsright__item
            = link_to new_user_session_path do
              ログイン
          %li.listsright__item
            = link_to new_user_registration_path do
              新規会員登録    
          
.main
  .main__top
    .content
      %h2.content__subtitle
        %br
          人生を変えるフリマアプリ
      %p.content__text
        FURIMAは誰でも簡単に出品・購入できる
        %br
          フリマアプリです
      .top__btn 
        = link_to "" ,class: "abtn" do
          = image_tag "/card_button-ios.png", class: "abtn__tag"
        = link_to "" ,class: "gbtn" do
          = image_tag "/unnamed.png", class: "abtn__tag"
  .main__reason
    %h2.reason__subtitle
      FURIMAが選ばれる3つの理由
    %ul.lists
      %li.list
        .list__pict
          %span.number
            1
          = image_tag "/pict-reason-01.jpg", class: "number__tag"
        %h3.list__text
          %span
            3分
          ですぐに出品
        %p.list__message
          スマホで入力するだけで簡単に出品できる!
      %li.list.list--last
        .list__pict
          %span.number
            2
          = image_tag "/pict-reason-02.jpg", class: "number__tag"
        %h3.list__text
          %span
            シンプル
          で使いやすい
        %p.list__message
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list
        .list__pict
          %span.number
            3
          = image_tag "/pict-reason-03.jpg", class: "number__tag"
        %h3.list__text
          手数料
          %span
            業界最安
        %p.list__message
          最大3%でお得に出品&購入！
  .main__message
    .message__content
      %h2.message__subtitle
        会員数日本一位
      %p.message__text
        FURIMAは、フリマアプリで最も大人気。
        %br 
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .message__btn 
        = link_to "" ,class: "abtn" do
          = image_tag "/card_button-ios.png", class: "abtn__tag"
        = link_to "" ,class: "gbtn" do
          = image_tag "/unnamed.png", class: "abtn__tag"

  .main__feature
    %h2.subtitle
      FURIMAの特徴
    .items
      .item
        .item__img
          = image_tag "/icon-01.png"
        %h3.item__subtitle
          簡単に売り買いできる
        %p.item__detail
          スマホひとつで、いつでもどこでも簡単に出品購入が可能！
      .item
        .item__img
          = image_tag "/icon-03.png"
        %h3.item__subtitle
          売上金は即日振込に対応
        %p.item__detail
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .item
        .item__img
          = image_tag "/icon-04.png"
        %h3.item__subtitle
          様々な支払いに対応
        %p.item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .main__product
    .product__container
      %h2.head
        ピックアップカテゴリー
      .product__box
        .product__head
          = link_to "" do
            %h3.product__title
              新規投稿商品
        .product__lists
          - @products.each do |product|
            = link_to product_path(product) do
              .product__list               
                - product.product_images.each do |pro|
                  .product__list--img             
                    = image_tag pro.image.url, class:"product__list--img__item__tag"
                    -if product.situation == 0  
                      .sold-out SOLD OUT
                        
                  .product__list--body
                    %h3.product__name
                      = product.name
                    .product__details
                      %ul
                        %li 
                          = product.price
                        %li 
                          %i.fa-star.likeIcon
                          0
                      %p
                        (税込)
  .main__product
    .product__container
      %h2.head
        ピックアップブランド
      .product__box
        .product__head
          = link_to "" do
            %h3.product__title
              アーカイバ
        .product__lists
          .product__list
            = link_to "" do
              .product__list--img
                = image_tag "/640x640_rect_76102931.jpg", class: "product__list--img__tag"
              .product__list--body
                %h3.product__name
                  product3
                .product__details
                  %ul
                    %li 
                      30000円
                    %li 
                      %i.fa-star.likeIcon
                      0
                  %p
                    (税込)
          .product__list
            = link_to "" do
              .product__list--img
                = image_tag "/sp_image04.jpg", class: "product__list--img__tag"
              .product__list--body
                %h3.product__name
                  product2
                .product__details
                  %ul
                    %li 
                      20000円
                    %li 
                      %i.fa-star.likeIcon
                      0
                  %p
                    (税込)
          .product__list
            = link_to "" do
              .product__list--img
                = image_tag "/sushi07.jpg", class: "product__list--img__tag"
              .product__list--body
                %h3.product__name
                  product1
                .product__details
                  %ul
                    %li 
                      10000円
                    %li 
                      %i.fa-star.likeIcon
                      0
                  %p
                    (税込)
  .main__inner
    .inner__container
      %h2.inner__title
        だれでもかんたん、人生を変えるフリマアプリ
      %p.inner__text
        今すぐ無料ダウンロード
      .inner__btn
        = link_to "" ,class: "abtn" do
          = image_tag "/card_button-ios.png", class: "abtn__tag"
        = link_to "" ,class: "gbtn" do
          = image_tag "/unnamed.png", class: "gbtn__tag"
.footer
  %ul.footer__contents
    %li.content
      %h2.content__head
        FURIMAについて
      %ul
        %li
          = link_to "" do
            会社概要（運営会社）
        %li
          = link_to "" do
            プライバシーポリシー
        %li
          = link_to "" do
            FURIMA利用規約
        %li
          = link_to "" do
            ポイントに関する特約
    %li.content
      %h2.content__head
        FURIMAを見る
      %ul
        %li
          = link_to "" do
            カテゴリー一覧
        %li
          = link_to "" do
            ブランド一覧
    %li.content
      %h2.content__head
        ヘルプ&ガイド
      %ul
        %li
          = link_to "" do
            FURIMAガイド
        %li
          = link_to "" do
            FURIMAロゴ利用ガイドライン
        %li
          = link_to "" do
            お知らせ
  .footer__logo
    = link_to "" do
      = image_tag "/logo-white.png", class: "footer__logo__tag"
  %p
    © FURIMA
= link_to new_product_path do
  .purchaseBtn
    %span.purchaseBtn__text
      出品する
    = image_tag "/icon_camera.png", class: "purchaseBtn__icon"