.single
  .single__header
    %h1
      = link_to root_path do
        = image_tag "/logo.png" 

  .single__main
    .single__main__container
      %h2.single__head.buy__head 購入内容の確認
      .buy__content.buy__item
        .buy__content__inner
          .buy__item--box
            %h3.buy__item--image
              = image_tag "#{@product.product_images[0].image}"
            .buy__item--detail
              .buy__item--name 
                = @product.name
              .buy__item--price.bold
                %span
                  = "¥#{@product.price}" 
                %span.item__fee 税込）送料込み
      .buy__content.buy__item
        .buy__content__inner
          %form
            %ul.buy__price__table
              %li.buy__price__row
                .buy__price__row--left
                  支払金額
                .buy__price__row--right
                  %span
                    = "¥#{@product.price}"
      .buy__content.buy__user__info
        .buy__content__inner
          %h3 お支払い方法
          - if Card.where(user: current_user).exists?
            .card
              .card__content
                クレジットカード情報
                .card__content__brand
                  = image_tag @card_src, class: "card__content__brand__img", alt: @card_brand
              .card__content
                .card__content__info
                  .card__content__info__number
                    = "**** **** **** " + @customer_card.last4
                  .card__content__info__expiration
                    .card__info__expiration__title
                      有効期限
                    .card__content__info__expiration__date
                      = @exp_month + " / " + @exp_year
          - else
            = link_to new_card_path, class: "user__info__text" do
              %i.fa.fa-plus-circle こちらから登録して下さい
      .buy__content.buy__user__info
        .buy__content__inner.edit__box
          %h3 配送先
          .shipping__user__address
            = "〒#{Address.find_by(user: current_user).postal_code}"
            %br
            = Address.find_by(user: current_user).prefecture.name
            = Address.find_by(user: current_user).city
            = Address.find_by(user: current_user).address
            - unless Address.find_by(user: current_user).other == nil
              = Address.find_by(user: current_user).other
          .shipping__user__name
            = @user.first_name
            = @user.last_name
            様
          .shipping__user__address--edit 
            = link_to users_path do
              変更する
      .buy__content.buy__user__info
        .buy__content.buy__item
          - if Card.where(user: current_user).exists?
            = link_to payment_product_path(@product), class: "btn-default" do
              購入を確定する

  .single__footer
    = link_to "", class: "single__footer__logo"  do
      = image_tag "/logo-white.png" 
    %p © FURIMA
      