
.header
  .header__container
    .header__top
      %h1.header__top--img
        = link_to "" do
          = image_tag "/logo.png"
      .header__top__search
        = form_for :product do |f|
          = f.text_field :search, class: "search__input", placeholder: "キーワードから探す"
          %button{type: "submit", class: "search__btn"}
            .searchBox__icon
              = image_tag "/icon-search 1.png", class: "searchBox__icon__image"

    .nav
      %ul.listsleft
        %li.listsleft__item
          = link_to "" do
            カテゴリー
        %li.listsleft__item
          = link_to "" do
            ブランド
      %ul.listsright
        %li.listsright__item
          = link_to "" do
            ログイン
        %li.listsright__item
          = link_to "" do
            新規会員登録   




%nav.breadCrumbs
  %ul
    %li
      =link_to  '' do
        FURIMA
    %li
      %i.fas.angle-right
    %li
      =link_to '' do
        ベビー・キッズ
    %li
      %i.angle-right
    %li
      =link_to '' do
        ベビー服(男女兼用)  ~95cm
    %li
      %i.angle-right
    %li
      =link_to '' do
        アウター
    %li
      %i.angle-right
    %li.product
      %p  product3
        

      



.main
  .main__showMain
    .main__showMain__contentLeftqq
    .main__showMain__contentRight
      .main__showMain__contentRight__topContent
        .main__showMain__contentRight__topContent__itemBox
          %h2.itemBox__name
            = @product.name
          .main__showMain__contentRight__topContent__itemBox__body
            %ul
              %li
                - @product.product_images.each do |p|
                  = image_tag p.image.url
                -# %ul                
                -#   %li
                -#     = image_tag "/cb114724c45f993.jpeg"
                -#   %li
                -#     = image_tag "/107562989.jpg"
                -#   %li
                -#     = image_tag "/640x640_rect_76102931.jpg"

          .main__showMain__contentRight__topContent__itemBox__price
            %span
              = "¥#{@product.price}"
            .main__showMain__contentRight__topContent__itemBox__price-detail
              %span
                (税込)送料込み
          .main__showMain__contentRight__topContent__itemBox__itemDetail
            = @product.infomation
          .main__showMain__contentRight__topContent__itemBox__table
            %table
              %tbody
                %tr
                  %th 出品者                  
                  %td hoge
                    
                %tr 
                  %th
                    カテゴリー
                  %td
                    = link_to '' do
                      = @product.category.name
                %tr 
                  %th
                    ブランド
                  %td

                %tr
                  %th
                    商品サイズ
                  %td


                %tr
                  %th
                    商品の状態
                  %td
                    未使用品に近い


                %tr
                  %th
                    配送料の負担
                  %td
                    送料込み（出品者負担）

                %tr
                  %th
                    発送元の地域
                  %td
                    = link_to '' do
                      岩手県
                      
                %tr
                  %th
                    発送日の目安
                  %td
                    4-7日で発送

          .main__showMain__contentRight__topContent__itemBox__optionalArea
            %ul
              %li.optionalBtn.likeBtn#likeBtn
                %i.fas.fa-star   お気に入り 0
                               
            %ul.optional
              %li.optionalBtn
                =link_to  '' do
                  %i.fa-flag.likeIcon 不適切な商品の通報
                    





        /以下は追加機能実装の際に必要になるので記述してます
       
        .main__showMain__contentRight__topContent__commentBox
          %ul.commentContents
          %form
            %textarea
              
            %p.noticeMsg
              "相手のことを考え丁寧なコメントを心がけましょう。"
              %br
                "不快な言葉遣いなどは利用制限や退会処分となることがあります。"
            %br    
              
            %button{class: "commentBtn", type: "submit"}
              %i.fa-comment  
                コメントする



      %ul.links
        %li.left
          =link_to  '' do
            %i.angle-left
            %span
              前の商品
        %li.right
          =link_to '' do
            %span
              後ろの商品
            %i.angle-left

      .main__showMain__contentRight__relatedItems
        =link_to ''  do
          ベビー・キッズをもっと見る



  .main__inner
    .inner__container
      %h2.inner__title
        だれでもかんたん、人生を変えるフリマアプリ
      %p.inner__text
        今すぐ無料ダウンロード
      .inner__btn
        = link_to "" ,class: "abtn" do
          = image_tag "/card_button-ios.png"
        = link_to "" ,class: "gbtn" do
          = image_tag "/unnamed.png"



.footer
  %ul.footer__contents
    %li.content
      %h2.content__head
        FURIMAについて
      %ul
        %li
          = link_to "" do
            会社概要（運営会社）
        %li
          = link_to "" do
            プライバシーポリシー
        %li
          = link_to "" do
            FURIMA利用規約
        %li
          = link_to "" do
            ポイントに関する特約
    %li.content
      %h2.content__head
        FURIMAを見る
      %ul
        %li
          = link_to "" do
            カテゴリー一覧
        %li
          = link_to "" do
            ブランド一覧
    %li.content
      %h2.content__head
        ヘルプ&ガイド
      %ul
        %li
          = link_to "" do
            FURIMAガイド
        %li
          = link_to "" do
            FURIMAロゴ利用ガイドライン
        %li
          = link_to "" do
            お知らせ
  .footer__logo
    = link_to "" do
      = image_tag "/logo-white.png"
  %p
    © FURIMA
= link_to "" do
  .purchaseBtn
    %span.purchaseBtn__text
      出品する
    = image_tag "/icon_camera.png", class: "purchaseBtn__icon"

