.header
  .header__container
    .header__top
      %h1.header__top--img
        = link_to "" do
          %img{height: "40", src: "logo.png", width: "140"}
      .header__top__search
        = form_for :product do |f|
          = f.text_field :search, class: "search__input", placeholder: "キーワードから探す"
          %button{type: "submit", class: "search__btn"}
            .searchBox__icon
              %img{height: "20", src: "icon-search 1.png", width: "20"}
    .nav
      %ul.listsleft
        %li.listsleft__item
          = link_to "" do
            カテゴリー
        %li.listsleft__item
          = link_to "" do
            ブランド
      %ul.listsright
        %li.listsright__item
          = link_to users_path do
              マイページ
        